$color-white: #FFFFFF;
$color-black: #222;
$color-green: #42B983;
$color-lightgreen: #00BC77;
$color-gray: #74798C;
$color-darkgray: #2C3E50;
$color-darkpurple: #12002b;

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color-darkgray;
}

body {
  margin: 0;
}

#App {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex: 1;
}

.bg-dark {
  background-color: $color-darkpurple;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

button {
  border: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

